

body.page-admin-reports-dblog-log-filter #page {
  position: fixed;
  left: 0;
}

form#log-filter-form {

}

div#log_filter_overlay {
  position: absolute;  left: 0;  top: 0;  width: 0;  height: 0;  overflow: hidden;
  z-index: 900; /* jQuery UI dialog defaults to 1000 */
  padding: 0;  margin: 0;  border: 0;  background-color: transparent;
  cursor: wait;
}
div#log_filter_overlay.log-filter-overlay-opaque {
  background-color: #999;
  opacity:0.5; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)'; filter:alpha(opacity=50);
}

form#log-filter-form input[type="checkbox"],
form#log-filter-form select {
  cursor: pointer;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit {
}
form#log-filter-form input.form-submit:hover {
  opacity:0.8; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter:alpha(opacity=80);
}
form#log-filter-form input.form-submit:disabled,
form#log-filter-form input.form-submit.form-button-disabled {
  cursor: not-allowed;
}
form#log-filter-form input.form-submit:disabled:hover,
form#log-filter-form input.form-submit.form-button-disabled {
  opacity:1.0; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; filter:alpha(opacity=100);
}

form#log-filter-form input.form-submit {
  color: #333;
}
form#log-filter-form input.form-submit.form-button-disabled {
  color: #666;
}
form#log-filter-form input.form-submit.edit-reset,
form#log-filter-form input.form-submit.edit-cancel {
  color: #336699;
}
form#log-filter-form input.form-submit.edit-delete {
  color: #993300;
}
form#log-filter-form label span { /* hover title marker */
  display: inline-block;
  cursor: default;
  vertical-align: top;
  padding: 0 2px;  margin: 0 2px;  border: 1px solid #999;  border-radius: 4px;
  font-family: Verdana, sans-serif;  font-size: 0.9em; line-height: 1em;  font-weight: bold;  color: #666;
}
form#log-filter-form div#log_filter_filters label span { /* hover title marker */
  border-color: #888;  background-color: #E8E8E8;  color: #555;
}

/* theming */
form#log-filter-form input.form-submit.theme-seven {
  border-radius: 11px;
  padding: 2px 8px 3px;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.theme-seven {
  color: #333;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.theme-seven:hover {
  color: #000;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.edit-reset.theme-seven,
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.edit-cancel.theme-seven {
  color: #336699;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.edit-delete.theme-seven {
  color: #993300;
}



  form#log-filter-form fieldset#edit-filter-filter-edit .fieldset-legend span {
    text-transform: none;
  }

  form#log-filter-form div.fieldset-wrapper {
    padding-bottom: 5px;
  }
    form#log-filter-form div.fieldset-wrapper:after {
      /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
    }
    form#log-filter-form div.fieldset-wrapper > div {
      float: left;
    }

    form#log-filter-form div#log_filter_criteria {
        margin-right: 20px;
    }
      /* conditions */
      form#log-filter-form div#log_filter_criteria div.filter-conditions {
      }
        form#log-filter-form div#log_filter_criteria div.filter-conditions:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions > div {
          float: left;
          padding: 0 10px;
          margin: 10px 0 0;
          border-right: 1px dotted #999;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions > div:first-child {
          padding-left: 0;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions > div:last-child {
          padding-right: 0;
          border-right: none;
        }

          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-checkboxes div.form-item {
            padding: 0 2px;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div#edit-log-filter-severity.form-checkboxes div.form-item:first-child {
            margin: 2px 0 5px;
          }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div#edit-log-filter-severity.form-checkboxes div.form-item:first-child label {
              color: #666;
              font-weight: bold;
            }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-type-wildcard {
          padding: 0 2px;
          margin: 2px 0 4px;
        }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-type-wildcard label {
            color: #666;
            font-weight: bold;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-type textarea {
            width: 300px;
          }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-range {
          padding: 0 2px;
        }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-range input {
            text-align: right;
          }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-time-or {
          padding: 10px 0 4px 2px;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-time-andor {
          padding: 3px 0 1px 2px;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-uid {
          padding-top: 0;
        }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-uid input {
            text-align: right;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-location input,
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-referer input {
            width: 350px;
          }

      /* orderBy */
      form#log-filter-form div#log_filter_criteria div.filter-orderby {
        padding-top: 12px;
        margin-top: 10px;
        border-top: 1px dotted #999;
        clear: left;
      }
        form#log-filter-form div#log_filter_criteria div.filter-orderby:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > label {
            float: left;
          }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div {
            float: left;
            padding: 0;
          }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div.form-item.form-type-select {
            margin-left: 20px;
          }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div.form-item.form-type-checkbox input {
            margin: 0 4px;
          }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div.log-filter-reset {
            float: right;
            margin-right: 15px;
            padding: 0;
          }

    /* filter */
    form#log-filter-form div#log_filter_filters {
      background-color: #DDD;
    }
      form#log-filter-form div#log_filter_filters.narrow:after { /* for small screens */
        /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
      }
      form#log-filter-form div#log_filter_filters.narrow > div {
        float: left;
      }
      form#log-filter-form div#log_filter_filters > div#log_filter_box_filter {
        padding: 9px 15px 0px 0;
        min-height: 210px;
      }
      form#log-filter-form div#log_filter_filters.narrow > div#log_filter_box_filter {
        min-height: auto;
      }
        form#log-filter-form div#log_filter_filters.narrow > div:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
        form#log-filter-form div#log_filter_filters.narrow > div > div {
          float: left;
        }
        form#log-filter-form div#log_filter_filters > div > div {
        }
        form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-filter {
          padding: 0 0 9px 15px;
          margin: 0;
        }
          form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-filter label {
            font-size: 1.05em;
            padding-bottom: 2px;
          }
          form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-filter select {
            width: 215px;
            font-size: 1.05em;  font-weight: bold;
          }
            form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-filter option {
              font-size: 1.05em;
              padding: 1px 0;
              color: #000;  font-weight: normal;
            }
            form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-filter option:selected {
              font-size: 1.05em;  font-weight: bold; /* doesnt work; setting directly on select work */
            }
        form#log-filter-form div#log_filter_filters > div > div.log-filter-button,
        form#log-filter-form div#log_filter_filters > div > div.log-filter-edit-create > div.log-filter-button,
        form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save > div.log-filter-button,
        form#log-filter-form div#log_filter_filters > div > div.form-item-log-filter-only-own,
        form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name,
        form#log-filter-form div#log_filter_filters > div > div.form-item-log-filter-description,
        form#log-filter-form div#log_filter_filters > div > div.form-item-log-filter-require-admin {
          padding: 0 0 0 15px;
          margin: 0;
        }
        form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-only-own {
          display: none;
          margin-bottom: 15px;
        }
          form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-only-own label {
            font-weight: bold;
          }

            form#log-filter-form div#log_filter_filters > div > div.log-filter-button input.form-button,
            form#log-filter-form div#log_filter_filters > div > div.log-filter-edit-create input.form-button,
            form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save input.form-button,
            form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name input.form-button {
              margin: 12px 0 15px 0;
            }

        form#log-filter-form div#log_filter_filters > div > div.log-filter-edit-create {
        }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-edit-create:after {
            /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
          }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-edit-create > div.log-filter-button.log-filter-edit {
            float: left;
          }
            form#log-filter-form div#log_filter_filters > div > div.log-filter-edit-create > div.log-filter-button.log-filter-edit input {
              min-width: 70px;
              margin-right: 10px;
            }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-edit-create > div.log-filter-button.log-filter-create {
            float: left;
          }
        form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save {
        }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save:after {
            /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
          }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save > div.log-filter-button.log-filter-cancel {
            float: left;
          }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save > div.log-filter-button.log-filter-save {
            float: right;
          }
            form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save > div.log-filter-button.log-filter-save input {
              min-width: 70px;
            }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save.log-filter-reversed-button-sequence > div.log-filter-button.log-filter-cancel {
            float: right;
          }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-cancel-save.log-filter-reversed-button-sequence > div.log-filter-button.log-filter-save {
            float: left;
          }

        form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name {
          display: none;
          max-width: 215px; /* otherwise chrome makes it too wide, for no apparant reason */
        }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name:after {
            /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
          }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name > label {
            float: left;
          }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name > div.form-item-log-filter-name-suggest {
            float: left;
            clear: left;
            padding: 0;
            margin: 0;
          }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name input.form-button {
            margin: 0 0 15px 0;
          }
            form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name > div.form-item-log-filter-name-suggest input[type="text"] {
              width: 160px;
            }
          form#log-filter-form div#log_filter_filters > div > div.log-filter-set-name > div.log-filter-button {
            float: left;
            position: relative;  top: -1px;
          }
        form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-description {
          display: none;
        }
          form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-description textarea {
            width: 209px;
            max-height: 45px; /* gecko always adds an extra row to textarea */
          }
        form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-require-admin {
          display: none;
          margin: 5px 0 10px 0;
        }
          form#log-filter-form div#log_filter_filters > div div.form-item-log-filter-require-admin label {
            font-weight: bold;
          }
      form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_by_filter {
        visibility: hidden;
        /*background-color: #AAA;*/
        padding: 6px 15px 0 0;
      }
      form#log-filter-form div#log_filter_filters.narrow > div#log_filter_box_delete_by_filter {
        padding: 9px 15px 2px 0;
      }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_by_filter:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_by_filter div {
          float: right;
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_by_filter div input.form-button {
            margin: 0px 0 14px;
          }
          form#log-filter-form div#log_filter_filters.narrow > div#log_filter_box_delete_by_filter div input.form-button {
            margin: 12px 0 15px;
          }








form#log-filter-form span#log_filter_list_controls {
  display: inline-block;
}
  form#log-filter-form span#log_filter_list_controls:after {
    /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
  }
  form#log-filter-form span#log_filter_list_controls div#edit-actions {
    float: left;
    margin-top: 0; margin-bottom: 0;
  }
  form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields {
    float: right;
  }
    form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields:after {
      /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
    }
    form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields > div {
      float: left;
      margin-left: 20px;
      padding: 2px 0 0;
    }
      form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields div.form-item-log-filter-pager-range label {
        display: inline;
      }
      form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields div.form-item-log-filter-pager-range input {
        text-align: right;
        font-weight: bold;
      }
    form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields div.log-filter-pager-controls {
      padding: 4px 10px;
    }


    form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields div.form-item-log-filter-cache {
      padding: 4px 0 0;
    }
      form#log-filter-form span#log_filter_list_controls div#log_filter_list_fields div.form-item-log-filter-cache label {
        font-weight: bold;
        font-size: inherit;
      }



