
body.page-admin-reports-dblog #page,
body.page-admin-reports-dblog-log-filter #page {
  position: fixed;
  left: 0;
  margin-right: 0;
}

body.page-admin-reports-dblog #page.viewport-sub-1250,
body.page-admin-reports-dblog-log-filter #page.viewport-sub-1250 {
  margin-left: 20px;
}
body.page-admin-reports-dblog #page.viewport-sub-1100,
body.page-admin-reports-dblog-log-filter #page.viewport-sub-1100 {
  /* Some elements slighter more narrow. */
}
body.page-admin-reports-dblog #page.viewport-sub-970,
body.page-admin-reports-dblog-log-filter #page.viewport-sub-970 {
  /* Filter dialog becomes a bar instead of a column. */
}

/* dblog module injects a general help message */
body.page-admin-reports-dblog #help,
body.page-admin-reports-dblog-log-filter #help {
  display: none;
}

form#log-filter-form {

}

div#log_filter_overlay {
  position: absolute;  left: 0;  top: 0;  width: 0;  height: 0;  overflow: hidden;
  z-index: 900; /* jQuery UI dialog defaults to 1000 */
  padding: 0;  margin: 0;  border: 0;  background-color: transparent;
  cursor: wait;
}
div#log_filter_overlay.log-filter-overlay-opaque {
  background-color: #999;
  opacity:0.5; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)'; filter:alpha(opacity=50);
}

form#log-filter-form .form-item label {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

form#log-filter-form input[type="checkbox"],
form#log-filter-form input[type="submit"],
form#log-filter-form input[type="reset"],
form#log-filter-form input[type="button"],
form#log-filter-form button,
form#log-filter-form select {
  cursor: pointer;
}
form#log-filter-form input:disabled,
form#log-filter-form textarea:disabled,
form#log-filter-form button:disabled,
form#log-filter-form select:disabled {
  cursor: not-allowed;
}
/* :readonly is useless */
form#log-filter-form input.form-item-readonly,
form#log-filter-form input[type="checkbox"].form-item-readonly,
form#log-filter-form textarea.form-item-readonly,
form#log-filter-form select.form-item-readonly {
  cursor: not-allowed;
  background-color: #E8E8E8;
}
form#log-filter-form input[type="text"].form-item-readonly,
form#log-filter-form input[type="password"].form-item-readonly,
form#log-filter-form textarea.form-item-readonly {
  cursor: not-allowed;
  background-color: #E8E8E8;
}

form#log-filter-form .form-item {
  padding: 0;
  margin: 0;
}

form#log-filter-form input.form-button {
  margin: 0;
  min-width: 5em;
}
form#log-filter-form input.form-button-disabled,
form#log-filter-form input.form-button-disabled:hover,
form#log-filter-form input.form-button-disabled:active {
  background-color: #DDD;
  border-color: #DDD;
  color: #666;
}

form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit {
}
form#log-filter-form input.form-submit:hover {
  opacity:0.8; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter:alpha(opacity=80);
}
form#log-filter-form input.form-submit:disabled,
form#log-filter-form input.form-submit.form-button-disabled {
}
form#log-filter-form input.form-submit:disabled:hover,
form#log-filter-form input.form-submit.form-button-disabled {
  opacity:1.0; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; filter:alpha(opacity=100);
}

form#log-filter-form input.form-submit {
  color: #333;
}
form#log-filter-form input.form-submit.form-button-disabled {
  color: #666;
}
form#log-filter-form input.form-submit.edit-reset,
form#log-filter-form input.form-submit.edit-cancel {
  color: #336699;
}
form#log-filter-form input.form-submit.edit-delete {
  color: #993300;
}
form#log-filter-form label span { /* hover title marker */
  display: inline-block;
  cursor: default;
  vertical-align: top;
  padding: 0 2px;  margin: 0 2px;  border: 1px solid #999;  border-radius: 4px;
  font-family: Verdana, sans-serif;  font-size: 0.9em; line-height: 1em;  font-weight: bold;  color: #666;
}
form#log-filter-form div#log_filter_filters label span { /* hover title marker */
  border-color: #888;  background-color: #E8E8E8;  color: #555;
}

/* theming */
form#log-filter-form input.form-submit.theme-seven {
  border-radius: 11px;
  padding: 2px 8px 3px;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.theme-seven {
  color: #333;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.theme-seven:hover {
  color: #000;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.edit-reset.theme-seven,
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.edit-cancel.theme-seven {
  color: #336699;
}
form#log-filter-form fieldset#edit-filter-filter-edit input.form-submit.edit-delete.theme-seven {
  color: #993300;
}



  form#log-filter-form fieldset#edit-filter-filter-edit .fieldset-legend span {
    text-transform: none;
  }

  form#log-filter-form div.fieldset-wrapper {
    padding-bottom: 0.5em;
  }
    form#log-filter-form div.fieldset-wrapper:after {
      /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
    }
    form#log-filter-form div.fieldset-wrapper > div {
      float: left;
    }

    form#log-filter-form div#log_filter_criteria {
        margin-top: 0.2em;
        margin-right: 1.3em;
    }
      /* conditions */
      form#log-filter-form div#log_filter_criteria div.filter-conditions {
      }
        form#log-filter-form div#log_filter_criteria div.filter-conditions:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions > div {
          float: left;
          padding: 0 1.1em;
          border-right: 1px dotted #999;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions > div:first-child {
          padding-left: 0;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions > div:last-child {
          padding-right: 0;
          border-right: none;
        }

        form#log-filter-form div#log_filter_criteria div.filter-conditions div.form-item.log-filter-time {
          overflow: hidden;
          padding: 0.8em 1em 0 1.3em;
          width: 8em; max-width: 8em;
          height: 17em; max-height: 17em;
          background-color: #E2E2E2;
          border: 0;
        }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-range {
            margin: 12px 0 0 0;
            padding: 0 2px;
          }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-range label {
              display: inline;
            }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-range input {
              display: inline-block;
              width: 2.5em;
              text-align: right;
            }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-time-or {
            padding: 8px 0 4px 2px;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-to-proxy {
            margin: 8px 0 0 0;
          }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-range label,
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-from-proxy label,
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-time-to-proxy label {
              font-size: 0.92em;
            }

          form#log-filter-form div#log_filter_criteria div.filter-conditions div.form-item.form-type-checkbox {
            padding: 0 0.1em;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div#edit-log-filter-severity.form-checkboxes div.form-item:first-child {
            margin: 0.2em 0 0.5em;
          }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div#edit-log-filter-severity.form-checkboxes div.form-item:first-child label {
              color: #666;
              font-weight: bold;
            }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div.form-item.form-item-log-filter-severity {
          padding: 0.8em 0.5em 0px 1.2em;
          width: 8em; min-width: 8em;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div.form-item.log-filter-type {
          padding: 0.8em 1.2em 0px 1.1em;
        }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-type-wildcard {
            margin: 0.2em 0 0.5em;
          }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-type-wildcard label {
              color: #666;
              font-weight: bold;
            }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-type-container {
            overflow: auto;
            border: 1px dotted #999;
            border-width: 1px 0;
            width: 17em; max-width: 17em;
            height: 12.5em; max-height: 12.5em;
          }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-user {
          padding-top: 0.8em;
          padding-bottom: 1em;
          border-bottom: 1px dotted #999;
        }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-user:after {
            /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-user > div {
            float: left;
          }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-user > div > label {
              margin-bottom: 0.2em;
            }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-user div.form-item-log-filter-role select {
              max-width: 11em;
            }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.log-filter-user div.log-filter-role-or {
            margin: 1.6em 1em 0 1em;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div div.form-item.form-item-log-filter-uid {
          }
            form#log-filter-form div#log_filter_criteria div.filter-conditions div div div.form-item.form-item-log-filter-uid input {
              text-align: right;
              max-width: 4em;
            }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-hostname {
          padding: 0.8em 0 0.2em 0;
        }
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-location,
        form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-referer {
          padding: 0.2em 0;
        }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-hostname label,
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-location label,
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-referer label {
            font-size: 0.92em;
          }
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-hostname input,
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-location input,
          form#log-filter-form div#log_filter_criteria div.filter-conditions div div.form-item.form-item-log-filter-referer input {
            width: 18em;
          }

      /* orderBy */
      form#log-filter-form div#log_filter_criteria div.filter-orderby {
        clear: left;
        padding: 10px 0 0 14px;
        min-height: 34px;
        /*border-top: 1px dotted #999;*/
        background-color: #B8B8B8;
      }
        form#log-filter-form div#log_filter_criteria div.filter-orderby > label:first-child {
          width: 7em; max-width: 7em;
          padding-right: 2em;
          text-align: right;
        }
        #page.viewport-sub-970 form#log-filter-form div#log_filter_criteria div.filter-orderby > label:first-child {
          width: auto; max-width: auto;
          padding-right: 0;
          text-align: left;
        }
      #page.viewport-sub-970 form#log-filter-form div#log_filter_criteria div.filter-orderby {
        border-top: 1px dotted #999;
        background-color: #FFF;
      }
        form#log-filter-form div#log_filter_criteria div.filter-orderby:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > label {
            float: left;
            margin-top: 1px;
            color: #FFF;
          }
          #page.viewport-sub-970 form#log-filter-form div#log_filter_criteria div.filter-orderby > label {
            color: inherit;
          }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div {
            float: left;
            padding: 0;
          }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div.form-item.form-type-select {
          }
            #page.viewport-sub-970 form#log-filter-form div#log_filter_criteria div.filter-orderby > div.form-item.form-type-select {
              margin-left: 1em;
            }
            form#log-filter-form div#log_filter_criteria div.filter-orderby select {
              background: #F8F8F8;
            }
            #page.viewport-sub-970 form#log-filter-form div#log_filter_criteria div.filter-orderby select {
              background: #FFF;
            }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div.form-item.form-type-checkbox input {
            margin: 0 4px;
          }
          form#log-filter-form div#log_filter_criteria div.filter-orderby > div.log-filter-reset {
            float: right;
            margin-right: 2em;
            padding: 0;
          }
            form#log-filter-form div#log_filter_criteria div.filter-orderby > div.log-filter-reset input {
              margin: 0;
            }

    /* filter */
    form#log-filter-form div#log_filter_filters {
      margin-top: 0.2em;
      max-width: 19.6em;
      background-color: #E2E2E2;
    }
    #page.log-filter-narrow form#log-filter-form div#log_filter_filters {
      max-width: auto;
    }
      form#log-filter-form div#log_filter_filters > div#log_filter_box_filter {
        padding-top: 0.8em;
        height: 17em; min-height: 17em;
      }
        form#log-filter-form  div#log_filter_filters > div#log_filter_box_filter:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div {
          float: left;
          width: 17em; min-width: 17em;
          padding: 0 1.3em 0 1.3em;
        }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter div.form-item-log-filter-filter {
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter div.form-item-log-filter-filter label {
            padding-bottom: 0.2em;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter div.form-item-log-filter-filter select {
            width: 16em; max-width: 16em;
            font-size: 1.05em;  font-weight: bold;
          }
            form#log-filter-form div#log_filter_filters > div#log_filter_box_filter div.form-item-log-filter-filter option {
              font-size: 1.05em;
              padding: 1px 0;
              color: #000;  font-weight: normal;
            }
            form#log-filter-form div#log_filter_filters > div#log_filter_box_filter div.form-item-log-filter-filter option:selected {
              font-size: 1.05em;  font-weight: bold; /* doesnt work; setting directly on select work */
            }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter div.form-item-log-filter-only-own {
          display: none;
        }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter div.form-item-log-filter-only-own label {
          font-weight: bold;
        }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-edit-create {
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-edit-create:after {
            /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-edit-create input[name="log_filter_edit"] {
            display: block;
            float: left;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-edit-create input[name="log_filter_create"] {
            display: block;
            float: right;
          }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.form-item-log-filter-name-suggest {
          display: none;
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.form-item-log-filter-name-suggest input {
            width: 16em;
          }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-cancel-save {
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-cancel-save:after {
            /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-cancel-save > input[name="log_filter_cancel"] {
            display: block;
            float: left;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-cancel-save > input[name="log_filter_save"] {
            display: block;
            float: right;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-cancel-save.log-filter-reversed-button-sequence > input[name="log_filter_cancel"] {
            float: right;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.log-filter-cancel-save.log-filter-reversed-button-sequence > input[name="log_filter_save"] {
            float: left;
          }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.form-item-log-filter-description {
          display: none;
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.form-item-log-filter-description textarea {
            width: 16em;
            max-height: 3em; /* gecko always adds an extra row to textarea */
          }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.form-item-log-filter-require-admin {
          display: none;
          /*margin: 5px 0 10px 0;*/
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_filter > div.form-item-log-filter-require-admin label {
            font-weight: bold;
          }
      form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs {
        background-color: #B8B8B8;
        width: 17em; min-width: 17em;
        padding: 1em 1.3em 0 1.3em;
        /*min-height: 44px;*/
      }
      form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs.log-filter-delete-logs-none {
        background-color: transparent;
      }
      form#log-filter-form  div#log_filter_filters > div#log_filter_box_delete_logs {
        float: right;
      }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs:after {
          /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
        }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs > input[type="button"] {
          display: block;
          float: right;
        }
        form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs > div.form-item-log-filter-delete-logs-max {
          float: left;
        }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div.form-item-log-filter-delete-logs-max:after {
            /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div.form-item-log-filter-delete-logs-max label,
          form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div.form-item-log-filter-delete-logs-max input {
            float: left;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div.form-item-log-filter-delete-logs-max label {
            margin-right: 0.2em;
            color: #FFF;
          }
          form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div-item-log-filter-delete-logs-max input[type="text"] {
            width: 50px;
            background-color: #F8F8F8;
            text-align: right;
          }

              #page.viewport-sub-970 form#log-filter-form  div#log_filter_filters > div#log_filter_box_delete_logs div input.form-button {
                margin: 21px 0 17px;
              }
              form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div input.form-submit:hover {
                opacity:0.9; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=90)'; filter:alpha(opacity=90);
                background: #FFF;
              }
              form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div input.form-submit:disabled,
              form#log-filter-form div#log_filter_filters > div#log_filter_box_delete_logs div input.form-submit:disabled:hover {
                opacity:1; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; filter:alpha(opacity=100);
                background: #D8D8D8;
                color: #555;
              }

form#log-filter-form div#log_filter_list_controls {
}
  form#log-filter-form div#log_filter_list_controls:after {
    /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
  }
  form#log-filter-form div#log_filter_list_controls > div {
    float: left;
    margin: 0 40px 0 0;
  }
  form#log-filter-form div#log_filter_list_controls > div.log-filter-update-list-right {
    float: right;
    margin: 0;
  }
  form#log-filter-form div#log_filter_list_controls div#edit-actions {
    display: none;
  }
  form#log-filter-form div#log_filter_list_controls > div.log-filter-pager-controls {

  }
    form#log-filter-form div#log_filter_list_controls > div.log-filter-pager-controls:after {
      /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
    }
    form#log-filter-form div#log_filter_list_controls > div.log-filter-pager-controls > div {
      float: left;
    }
  form#log-filter-form div#log_filter_list_controls > div.form-item-log-filter-pager-range {

  }
    form#log-filter-form div#log_filter_list_controls > div.form-item-log-filter-pager-range:after {
      /* clearfix */ clear:both; content:"."; display:block; height:0; visibility:hidden; font-size:0;
    }
    form#log-filter-form div#log_filter_list_controls > div.form-item-log-filter-pager-range label,
    form#log-filter-form div#log_filter_list_controls > div.form-item-log-filter-pager-range input {
      display: block;
      float: left;
    }
    form#log-filter-form div#log_filter_list_controls > div.form-item-log-filter-pager-range label {
      margin-right: 0.5em;
    }
  form#log-filter-form div#log_filter_list_controls > div.form-item-log-filter-cache {

  }
    form#log-filter-form div#log_filter_list_controls > div.form-item-log-filter-cache label {
      font-weight: bold;
      font-size: inherit;
    }
  #page.viewport-sub-1100 form#log-filter-form div#log_filter_list_controls > div.log-filter-button.log-filter-update-list-right input {
    margin-right: 15px;
  }




